<div class="input-section">
  <form>
    <app-make (makeEvent)="setMakeValue($event)"></app-make>
    <app-model></app-model>
    
  <!-- Origin -->
    <mat-form-field appearance="fill" class="spaceBetween">
      <mat-label>From</mat-label>
      <input matInput>
    </mat-form-field>
    <!-- Destination -->
    <mat-form-field appearance="fill" class="spaceBetween">
      <mat-label>To</mat-label>
      <input matInput>
    </mat-form-field>
    <br>

    <!-- Carpooling: Yes or No -->
    <mat-form-field appearance="fill" class="spaceBetween">
      <mat-label>Are you carpooling?</mat-label>
      <mat-select>
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

<!-- Add Button Here -->
<section>  
  <div>    
    <button mat-raised-button color="primary">SUBMIT</button>    
  </div>
</section>

</div>

<!-- Output Stuff -->
<div class="autoMargin">    
    <app-graph></app-graph>
</div>

