:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.centreText {
text-align: center;
}
.autoMargin {
  margin: auto;
}

.space-between {
padding: 10px;
}
.input {
  display: inline-block;
}

.even-split {
  width: 50%;  
  float: left;
  padding: 20px;
  // border: 2px solid red;
}

.graph {
  display: inline-block;
}