<div class="input-section">
  <form>
      <!-- Make -->
      <mat-form-field appearance="fill">
          <mat-label>Make</mat-label>
          <input matInput>
      </mat-form-field>
      
      <!-- Model -->
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput>
      </mat-form-field>
      
      <!-- Origin -->
      <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <input matInput>
      </mat-form-field>
      
      <!-- Destination -->
      <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <input matInput>
      </mat-form-field>

      <!-- Carpooling: Yes or No -->
      <mat-form-field appearance="fill">
        <mat-label>Are You Carpooling?</mat-label>
        <mat-select>
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
    </mat-form-field>
  </form>
  <h1>hi</h1>
</div>
